span {
    display: inline-block;
}

body {
    text-align: center;
}

nav {
    background-color: yellow;
    padding: 20px;
}

nav li {
    display: inline;
    padding-left: 50px;
    
    
}
    
ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

nav a:hover {
    border-bottom: 2px solid black;

}

#pic {
    padding-top: 50px;

}

#icons  {
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 85px;
    background-color: yellow;
    
}

div p {
    font-family: cursive;
}

footer strong {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

span {
    padding-left: 50px;
}

footer {
    padding-top: 500px 
}

.fa-phone  {
    padding-right: 10px;
}

.fa-address-card {
    padding-right: 10px;
}

.pictures img {
    height: 500px;
    width: 500px;
    padding: 2px 2px 2px 2px;
    border: double 10px;

}

.pictures {
    padding-top: 50px;
    
}

span div img {
    border: solid 8px black;
    border-radius: 25px;
    padding-top: 25px
    
}
   
.bigkittypic {
    border-radius: 30px;
    border: double 8px;
    width: 800px;
    height: 300px;
    
}

#mini-layout {
    padding: 100px;
}